{% extends "layout.html" %}
{% block body %}
<h1>Account Settings</h1>

<form method="POST">
  <h3>Please enter your current password to make any changes.</h3>
  <b>Current password</b> <input type="password" name="oldpw"> 
  {% if error %}
    <font color=red><sub>{{error}}</sub></font>
  {% endif %}

  <br>
  <br>

  <h3>Make your changes:</h3>

  <table class="table" style="border:1px solid rgb(221,221,221)">
    <tr class="active">
      <th>Change username</th>
      <td><input type="text" name="newuser"> 
      {% if usererror %}
        <font color=red><sub>{{usererror}}</sub></font></td>
      {% endif %}
    </tr>

    <tr class="active">
      <th>Change password</th>
      <td><input type="password" name="newpw"></td>
    </tr>

    <tr class="active">
      <th>Verify new password</th>
      <td><input type="password" name="confirm"> 
      {% if passerror %}
        <font color=red><sub>{{passerror}}</sub></font></td>
      {% endif %}
   </tr>

    <tr class="active">
      <td colspan="2" style="text-align:center"><input type="submit" name="button" value="Submit"></td>
    </tr>
  </table>
</form>
{% endblock %}
