{% extends "layout.html" %}

{% block head %}
    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/offcanvas/offcanvas.css" rel="stylesheet">
    <!-- Documentation extras -->
    <link href="http://getbootstrap.com/docs-assets/css/docs.css" rel="stylesheet">
    <link href="http://getbootstrap.com/docs-assets/css/pygments-manni.css" rel="stylesheet">
    <!-- Bootstrap core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
<br>

<div class="jumbotron">

   <div style="float:right;">
      <div id="carousel-example-captions" class="carousel slide container"  data-ride="carousel" style="width :400px;">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-captions" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-captions" data-slide-to="1"></li>
          <li data-target="#carousel-example-captions" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
	  
         
	  <div class="item active">         
	    <div class=image-item>
	     
	      {% if art|length > 0 %}         
	      <img src="{{ url_for('serve_image', image_id=art[0].image._id) }}" width="400" height="300">
	      {% else %}
	      <img data-src="holder.js/400x150/auto/#666:#666" alt="Second slide image">
	      
 {% endif %}
            
              <div class="carousel-caption">
		
		<h4>{{owner}}'s</h4>
		{% if art|length > 0 %}
		<p>{{art[0].title}}</p>	   
		{% endif %}	 
	      </div>
            </div>           
	  </div>
          
	  {% if art|length > 1 %}
	  <div class="item">         
	    <div class=image-item>
              <img src="{{ url_for('serve_image', image_id=art[1].image._id) }}" width="400" height="300">
            </div>
            <div class="carousel-caption">
              <h4>Gallery</h4>
	      <p>{{art[1].title}}</p>	   
	    </div>
          </div>           
	  {% endif %}

	  {% if art|length > 2 %}
	  <div class="item">         
	    <div class=image-item>
              <img src="{{ url_for('serve_image', image_id=art[2].image._id) }}" width="400" height="300">
            </div>
            <div class="carousel-caption">
              <h4>Highlights</h4>
	      <p>{{art[2].title}}</p>	   
	    </div>
          </div>           
	  {% endif %}
       
	</div>
        <a class="left carousel-control" href="#carousel-example-captions" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example-captions" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
      </div>
    </div><!-- /example -->
<h1>
{% if propic %}
<img src="{{ url_for('serve_image', image_id=propic._id) }}" width = "140" height="140" class="img-rounded">
{% endif %}
{{owner}} 's Profile</h1>
<!--
<div class="form-group">
  <label for="file">Add profile picture</label>
  <input type="file" id="file" name="file" value="Choose profile pic">
  <button type="submit" name="btn" value="Upload" class="btn btn-primary btn-sm">Upload</button>
-->

<!--
<img src="..." alt="..." class="img-rounded">
<img src="..." alt="..." class="img-circle">
-->
<br>
Images in Gallery: {{art|length}}

<br>

</div>
<br>
<br>

<h2>GALLERY</h2>
{% for img in art %}

<div class="col-sm-6 col-md-4">
  <div class="thumbnail">
    <a href="{{url_for('imagepg',user=img.user,title=img.title)}}"><img src="{{ url_for('serve_image', image_id=img.image._id) }}" alt="Generic placeholder thumbnail" width="400" height="300"></a>
    <div class="caption">
      <h3>{{img.title}}
       <a class="btn btn-primary btn-lg" role="button" data-toggle="modal" data-target="#myModal">Full size &raquo;</a></h3>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                  <h4 class="modal-title" id="myModalLabel">{{img.title}}</h4>
                </div>
                <div class="modal-body">
		  <img src="{{ url_for('serve_image', image_id=img.image._id) }}">       
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
              </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div><!-- /.modal -->

    </div>
  </div>
</div>
{% endfor %}
      

{% endblock %}
