{% extends "layout.html" %}

{% block head %}
    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="signin.css" rel="stylesheet"> 
{% endblock %}


  <center>
    <br>
    {% if error is defined %}
    <font color=red>{{error}}</font>
    {% endif %}
    <br>
  </center>


  {% block body %}

  <body>

    <div class="container">
      
      <form method="POST" class="form-signin" role="form">
        <h2 class="form-signin-heading">Please fill in</h2>
	
	<input type="text" class="form-control" id="user" name="username" placeholder="Username" required autofocus>
        <input type="password" class="form-control" id="pw" name="password" placeholder="Password" required>
        <input type="password" class="form-control" id="pw2" name="confirm" placeholder="Verify Password" required>
        	
	<div class="form-controls">
	<button type="submit" name="button" class="btn btn-lg btn-primary" value="Register">Register</button>
	<button type="reset" name="button" class="btn btn-lg" value="Cancel">Cancel</button>
	</div>
      </form>

    </div> <!-- /container -->

  </body>


  <center>
  <h5>Already have an account? <a href="{{ url_for('login')">Login here</a></h5>
  </center>

  {% endblock %}

</html>
