{% extends "layout.html" %}

{% block head %}
<!-- Bootstrap core CSS -->
<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="http://getbootstrap.com/examples/signin/signin.css" rel="stylesheet"> 
{% endblock %}


{% block body %}

<body>
  
  <div class="container">
    
    <form method="POST" class="form-signin" role="form">
      <h2 class="form-signin-heading">Please fill in</h2>
      
      <input type="text" class="form-control has-success has-feedback" id="user" name="username" placeholder="Username" required autofocus>
      <input type="password" class="form-control" id="pw" name="password" placeholder="Password" required>
      <input type="password" class="form-control" id="pw2" name="confirm" placeholder="Verify Password" required>
      
      <center>
	<div class="form-controls">
	  <button type="submit" name="button" class="btn btn-lg btn-primary" value="Register">Register</button>
	  <button type="reset" name="button" class="btn btn-lg" value="Cancel">Cancel</button>
	</div>
      </center>
    </form>
    
  </div> <!-- /container -->
  
</body>

<center>

  {% if error is defined %}
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    {{error}}
  </div>
  {% endif %}

</center>


  <center>
  <h5>Already have an account? <a href="{{ url_for('login',e=' ') }}">Login here</a></h5>
  </center>

  <center>
    <br>

{% endblock %}

</html>
